<%- include('header') %>
<form action="/clubs/create" method="post">
  <!-- Grid -->
  <div>
    <h2><%= title %></h2>

    <!-- Markup example 1: input is inside label -->
    <label for="clubname">
      Club Name
      <input value="<%= locals.clubname || "" %>" type="text" id="clubname" name="clubname" placeholder="e.g Manchester United" required>
      <small><%= error %></small>
    </label>

    <label for="country">
      Country
      <input value="<%= locals.country || "" %>" type="text" id="country" name="country" placeholder="e.g England" required>
      <small><%= error %></small>
    </label>
  </div>
  <!-- Button -->
  <button class="inline" type="submit">Submit</button>

</form>
<%- include('footer') %>