<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/pico.min.css" />
  <link rel="stylesheet" href="/stylesheets/table.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>

<body>
  <nav>
    <img src="/images/logo.png" alt="My Logo" />
    <ul>
      <li class="menu <%= active == 'home' ? 'active' : '' %>"><a href="/">Home</a></li>
      <li class="menu <%= active == 'clubs' ? 'active' : '' %>"><a href="/clubs">Clubs</a></li>
      <li class="menu <%= active == 'players' ? 'active' : '' %>"><a href="/players">Players</a></li>
      <li class="menu <%= active == 'market' ? 'active' : '' %>"><a href="/market">Market</a></li>

    </ul>
  </nav>
  <div class="wrapper">