<%- include('header') %>
<% if (error) { %>
<h2><%= title %> </h2>
<p>Something went wrong</p>
<p><%= error %></p>
<% } else { %>
<h2><%= player.name %>, <%= player.age %> <small>- <%= player.club.name %> </small>
</h2>
<p>I have been in <a href="/clubs/<%= player.club._id %>"><%= player.club.name %></a> for 10 years. I love being here, getting paid and doing what I love to do</p>
<div class="grid">
  <a href="/players/update/<%= player._id %>"><button>Update <%= player.name %> Details</button></a>
  <a href=""><button>Delete <%= player.name %></button></a>
</div>
<% } %>
<%- include('footer') %>